
.card{
    padding: 30px;
    margin-top: 70px;
    box-shadow: 0 0 3px #18aeda;
}
img{
    width:90%;
    
}
a{
    text-decoration:none;
    cursor: pointer;
}
.siginbtn:hover{
    border-radius: 30px;
   
}
img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

input.ng-invalid.ng-touched {
    border:1px solid red;
    /* box-shadow: 0 0 13px inset red; */
}
span{
    color:red;
}
